/*resetar as definições do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agbalumo', sans-serif;
}

.bg-cor-menu {
    background-color: rgb(55, 17, 113);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav span, .bi-mic-mute-fill, li .nav-link {
    color: white;
}

.navbar-nav a {
    margin-left: 8em;
}