/*resetar as definições do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agbalumo', sans-serif;
}
.divbody {
    background-color: rgba(228, 185, 255, 0.432);
}

.bg-cor-menu {
    background-color: rgb(62, 20, 126);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav span, .bi-mic-mute-fill, li .nav-link {
    color: white;
}

.navbar-nav a {
    margin-left: 8em;
}

#container-banner {
    margin-top: -1em;
}

.carousel-item {
    margin-top: 95px;
}